.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.945000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.734863;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-41.065752px;}
._0{width:1.392577px;}
._2{width:2.958283px;}
._4{width:122.868000px;}
._3{width:158.670000px;}
.fc4{color:rgb(251,250,249);}
.fc0{color:rgb(255,49,49);}
.fc2{color:rgb(48,133,237);}
.fc1{color:rgb(192,0,0);}
.fc5{color:rgb(0,112,192);}
.fc3{color:rgb(0,0,0);}
.fs2{font-size:121.000000px;}
.fs10{font-size:130.279999px;}
.fsd{font-size:135.960007px;}
.fs17{font-size:144.000000px;}
.fs12{font-size:144.360001px;}
.fsc{font-size:160.000000px;}
.fs16{font-size:162.000000px;}
.fsa{font-size:163.039993px;}
.fs11{font-size:163.360001px;}
.fs6{font-size:164.880005px;}
.fs13{font-size:200.039993px;}
.fs14{font-size:200.679993px;}
.fsf{font-size:202.639999px;}
.fs8{font-size:207.960007px;}
.fs9{font-size:216.119995px;}
.fs7{font-size:224.520004px;}
.fsb{font-size:232.399979px;}
.fs18{font-size:240.000000px;}
.fs3{font-size:249.080002px;}
.fs1{font-size:264.000000px;}
.fse{font-size:282.200012px;}
.fs4{font-size:368.000000px;}
.fs5{font-size:374.199982px;}
.fs0{font-size:384.000000px;}
.fs15{font-size:795.159973px;}
.y37{bottom:-0.510246px;}
.y0{bottom:0.000000px;}
.y8{bottom:3.442768px;}
.y2d{bottom:6.928349px;}
.y51{bottom:7.035587px;}
.y2f{bottom:9.031437px;}
.y3d{bottom:10.520863px;}
.y47{bottom:50.427677px;}
.y5f{bottom:65.096191px;}
.yd{bottom:95.503410px;}
.y30{bottom:104.567001px;}
.y64{bottom:104.820000px;}
.y5e{bottom:113.096191px;}
.y3e{bottom:118.386600px;}
.y49{bottom:134.753849px;}
.y5d{bottom:161.096191px;}
.y2e{bottom:188.189579px;}
.y3{bottom:192.730225px;}
.y7{bottom:193.289307px;}
.y17{bottom:196.139069px;}
.y5c{bottom:209.096191px;}
.y2a{bottom:228.088837px;}
.y46{bottom:233.263214px;}
.y6{bottom:235.639301px;}
.y63{bottom:237.184502px;}
.y21{bottom:238.381805px;}
.y52{bottom:239.945862px;}
.y16{bottom:253.839081px;}
.y5b{bottom:257.096191px;}
.y2{bottom:277.780228px;}
.y3c{bottom:280.919601px;}
.y29{bottom:284.088837px;}
.y45{bottom:289.353210px;}
.y20{bottom:295.451813px;}
.y4e{bottom:304.559006px;}
.yb{bottom:308.398979px;}
.yc{bottom:311.413567px;}
.y15{bottom:311.539093px;}
.y32{bottom:315.346909px;}
.y31{bottom:319.846970px;}
.y3b{bottom:338.099594px;}
.y28{bottom:340.088837px;}
.y44{bottom:345.443222px;}
.y40{bottom:345.737827px;}
.y1f{bottom:352.521820px;}
.y5a{bottom:353.096191px;}
.y4d{bottom:360.559006px;}
.y14{bottom:369.239105px;}
.y62{bottom:376.070641px;}
.y1{bottom:392.980232px;}
.y3a{bottom:395.279587px;}
.y27{bottom:396.088837px;}
.y59{bottom:401.096191px;}
.y43{bottom:401.533234px;}
.y1e{bottom:409.591827px;}
.y4c{bottom:416.559006px;}
.y5{bottom:417.076050px;}
.y13{bottom:426.939117px;}
.y58{bottom:449.096191px;}
.y26{bottom:452.088837px;}
.y39{bottom:452.459595px;}
.y35{bottom:455.235275px;}
.y42{bottom:457.623230px;}
.y4{bottom:459.426044px;}
.y1d{bottom:466.661835px;}
.y4b{bottom:472.559006px;}
.y10{bottom:480.267319px;}
.y61{bottom:482.753387px;}
.y12{bottom:484.639114px;}
.y57{bottom:497.096191px;}
.y25{bottom:508.088833px;}
.y38{bottom:509.639599px;}
.y41{bottom:513.713230px;}
.y1c{bottom:523.731842px;}
.y60{bottom:525.953392px;}
.y4a{bottom:528.559002px;}
.y11{bottom:542.339119px;}
.y56{bottom:545.096207px;}
.y34{bottom:570.435272px;}
.y1b{bottom:580.801846px;}
.y2c{bottom:589.842545px;}
.yf{bottom:595.467316px;}
.y50{bottom:608.477188px;}
.y19{bottom:636.291058px;}
.y55{bottom:641.096207px;}
.y23{bottom:643.147980px;}
.y2b{bottom:662.632549px;}
.y9{bottom:668.644272px;}
.y4f{bottom:681.267193px;}
.y33{bottom:685.635277px;}
.y65{bottom:686.247318px;}
.y54{bottom:689.096207px;}
.ye{bottom:710.667320px;}
.y22{bottom:715.937984px;}
.ya{bottom:719.131470px;}
.y3f{bottom:730.225109px;}
.y36{bottom:732.565414px;}
.y48{bottom:733.595055px;}
.y53{bottom:737.096203px;}
.y24{bottom:737.364082px;}
.y1a{bottom:741.137798px;}
.y18{bottom:744.466667px;}
.h3{height:90.750000px;}
.h11{height:94.465722px;}
.he{height:98.584282px;}
.h13{height:104.675098px;}
.h19{height:108.000000px;}
.h17{height:120.000000px;}
.h18{height:121.500000px;}
.hd{height:122.421875px;}
.hb{height:124.747885px;}
.h12{height:124.992735px;}
.h7{height:126.155746px;}
.h9{height:151.502114px;}
.h14{height:153.057944px;}
.h15{height:153.547631px;}
.h10{height:155.047304px;}
.ha{height:165.361344px;}
.h8{height:171.788499px;}
.hc{height:177.817757px;}
.h1a{height:180.000000px;}
.h4{height:186.810001px;}
.h2{height:198.000000px;}
.hf{height:215.921591px;}
.h5{height:268.093750px;}
.h6{height:286.314146px;}
.h1{height:288.000000px;}
.h16{height:596.369980px;}
.h0{height:810.000000px;}
.w0{width:1440.000000px;}
.x0{left:0.000000px;}
.x1e{left:25.807266px;}
.x34{left:34.017288px;}
.x30{left:57.197784px;}
.x18{left:83.154556px;}
.x1a{left:84.673286px;}
.x31{left:104.197739px;}
.x35{left:128.727669px;}
.x2f{left:134.765800px;}
.x2a{left:151.703339px;}
.x38{left:152.852539px;}
.x11{left:167.721741px;}
.x23{left:173.619713px;}
.x39{left:198.000000px;}
.x26{left:253.614388px;}
.x3a{left:256.500000px;}
.x33{left:290.446236px;}
.x1{left:313.937439px;}
.x8{left:322.354614px;}
.x28{left:335.142517px;}
.x14{left:339.943542px;}
.x4{left:342.667114px;}
.xf{left:357.737549px;}
.x9{left:370.607986px;}
.x10{left:398.726562px;}
.x3c{left:405.961121px;}
.x3b{left:408.302612px;}
.x13{left:430.874939px;}
.x1f{left:434.703979px;}
.x2b{left:448.179138px;}
.x2c{left:453.334961px;}
.x3{left:454.954834px;}
.x25{left:458.267609px;}
.x17{left:470.269379px;}
.x29{left:485.982971px;}
.x16{left:490.783997px;}
.x15{left:533.501282px;}
.x37{left:542.927498px;}
.x1b{left:547.296204px;}
.x21{left:549.276855px;}
.x24{left:553.115120px;}
.x2{left:582.062439px;}
.x32{left:592.057220px;}
.xa{left:636.612549px;}
.x5{left:644.803009px;}
.x19{left:649.276794px;}
.x6{left:656.973633px;}
.xe{left:660.508942px;}
.xb{left:674.599228px;}
.x2e{left:707.494781px;}
.x36{left:732.486618px;}
.x20{left:758.915833px;}
.x1d{left:759.968781px;}
.x1c{left:762.264908px;}
.x27{left:859.108414px;}
.x2d{left:869.275742px;}
.x12{left:912.403061px;}
.xc{left:981.814896px;}
.x7{left:988.337906px;}
.x22{left:992.846462px;}
.xd{left:1003.270386px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-54.754336pt;}
._0{width:1.856770pt;}
._2{width:3.944378pt;}
._4{width:163.824000pt;}
._3{width:211.560000pt;}
.fs2{font-size:161.333333pt;}
.fs10{font-size:173.706665pt;}
.fsd{font-size:181.280009pt;}
.fs17{font-size:192.000000pt;}
.fs12{font-size:192.480001pt;}
.fsc{font-size:213.333333pt;}
.fs16{font-size:216.000000pt;}
.fsa{font-size:217.386658pt;}
.fs11{font-size:217.813334pt;}
.fs6{font-size:219.840007pt;}
.fs13{font-size:266.719991pt;}
.fs14{font-size:267.573324pt;}
.fsf{font-size:270.186666pt;}
.fs8{font-size:277.280009pt;}
.fs9{font-size:288.159993pt;}
.fs7{font-size:299.360006pt;}
.fsb{font-size:309.866638pt;}
.fs18{font-size:320.000000pt;}
.fs3{font-size:332.106669pt;}
.fs1{font-size:352.000000pt;}
.fse{font-size:376.266683pt;}
.fs4{font-size:490.666667pt;}
.fs5{font-size:498.933309pt;}
.fs0{font-size:512.000000pt;}
.fs15{font-size:1060.213298pt;}
.y37{bottom:-0.680328pt;}
.y0{bottom:0.000000pt;}
.y8{bottom:4.590357pt;}
.y2d{bottom:9.237798pt;}
.y51{bottom:9.380783pt;}
.y2f{bottom:12.041916pt;}
.y3d{bottom:14.027817pt;}
.y47{bottom:67.236903pt;}
.y5f{bottom:86.794922pt;}
.yd{bottom:127.337880pt;}
.y30{bottom:139.422668pt;}
.y64{bottom:139.760000pt;}
.y5e{bottom:150.794922pt;}
.y3e{bottom:157.848801pt;}
.y49{bottom:179.671799pt;}
.y5d{bottom:214.794922pt;}
.y2e{bottom:250.919439pt;}
.y3{bottom:256.973633pt;}
.y7{bottom:257.719076pt;}
.y17{bottom:261.518758pt;}
.y5c{bottom:278.794922pt;}
.y2a{bottom:304.118449pt;}
.y46{bottom:311.017619pt;}
.y6{bottom:314.185735pt;}
.y63{bottom:316.246002pt;}
.y21{bottom:317.842407pt;}
.y52{bottom:319.927816pt;}
.y16{bottom:338.452108pt;}
.y5b{bottom:342.794922pt;}
.y2{bottom:370.373637pt;}
.y3c{bottom:374.559469pt;}
.y29{bottom:378.785116pt;}
.y45{bottom:385.804281pt;}
.y20{bottom:393.935750pt;}
.y4e{bottom:406.078674pt;}
.yb{bottom:411.198639pt;}
.yc{bottom:415.218089pt;}
.y15{bottom:415.385457pt;}
.y32{bottom:420.462545pt;}
.y31{bottom:426.462626pt;}
.y3b{bottom:450.799459pt;}
.y28{bottom:453.451782pt;}
.y44{bottom:460.590963pt;}
.y40{bottom:460.983770pt;}
.y1f{bottom:470.029093pt;}
.y5a{bottom:470.794922pt;}
.y4d{bottom:480.745341pt;}
.y14{bottom:492.318807pt;}
.y62{bottom:501.427521pt;}
.y1{bottom:523.973643pt;}
.y3a{bottom:527.039449pt;}
.y27{bottom:528.118449pt;}
.y59{bottom:534.794922pt;}
.y43{bottom:535.377645pt;}
.y1e{bottom:546.122437pt;}
.y4c{bottom:555.412008pt;}
.y5{bottom:556.101400pt;}
.y13{bottom:569.252157pt;}
.y58{bottom:598.794922pt;}
.y26{bottom:602.785116pt;}
.y39{bottom:603.279460pt;}
.y35{bottom:606.980367pt;}
.y42{bottom:610.164307pt;}
.y4{bottom:612.568059pt;}
.y1d{bottom:622.215780pt;}
.y4b{bottom:630.078674pt;}
.y10{bottom:640.356425pt;}
.y61{bottom:643.671183pt;}
.y12{bottom:646.185486pt;}
.y57{bottom:662.794922pt;}
.y25{bottom:677.451777pt;}
.y38{bottom:679.519465pt;}
.y41{bottom:684.950974pt;}
.y1c{bottom:698.309123pt;}
.y60{bottom:701.271189pt;}
.y4a{bottom:704.745336pt;}
.y11{bottom:723.118825pt;}
.y56{bottom:726.794942pt;}
.y34{bottom:760.580363pt;}
.y1b{bottom:774.402461pt;}
.y2c{bottom:786.456726pt;}
.yf{bottom:793.956421pt;}
.y50{bottom:811.302917pt;}
.y19{bottom:848.388077pt;}
.y55{bottom:854.794942pt;}
.y23{bottom:857.530640pt;}
.y2b{bottom:883.510066pt;}
.y9{bottom:891.525696pt;}
.y4f{bottom:908.356257pt;}
.y33{bottom:914.180369pt;}
.y65{bottom:914.996424pt;}
.y54{bottom:918.794942pt;}
.ye{bottom:947.556427pt;}
.y22{bottom:954.583979pt;}
.ya{bottom:958.841960pt;}
.y3f{bottom:973.633479pt;}
.y36{bottom:976.753886pt;}
.y48{bottom:978.126740pt;}
.y53{bottom:982.794937pt;}
.y24{bottom:983.152110pt;}
.y1a{bottom:988.183731pt;}
.y18{bottom:992.622223pt;}
.h3{height:121.000000pt;}
.h11{height:125.954296pt;}
.he{height:131.445710pt;}
.h13{height:139.566797pt;}
.h19{height:144.000000pt;}
.h17{height:160.000000pt;}
.h18{height:162.000000pt;}
.hd{height:163.229167pt;}
.hb{height:166.330514pt;}
.h12{height:166.656980pt;}
.h7{height:168.207661pt;}
.h9{height:202.002819pt;}
.h14{height:204.077259pt;}
.h15{height:204.730175pt;}
.h10{height:206.729739pt;}
.ha{height:220.481792pt;}
.h8{height:229.051332pt;}
.hc{height:237.090343pt;}
.h1a{height:240.000000pt;}
.h4{height:249.080002pt;}
.h2{height:264.000000pt;}
.hf{height:287.895455pt;}
.h5{height:357.458333pt;}
.h6{height:381.752195pt;}
.h1{height:384.000000pt;}
.h16{height:795.159973pt;}
.h0{height:1080.000000pt;}
.w0{width:1920.000000pt;}
.x0{left:0.000000pt;}
.x1e{left:34.409688pt;}
.x34{left:45.356384pt;}
.x30{left:76.263713pt;}
.x18{left:110.872742pt;}
.x1a{left:112.897715pt;}
.x31{left:138.930318pt;}
.x35{left:171.636892pt;}
.x2f{left:179.687734pt;}
.x2a{left:202.271118pt;}
.x38{left:203.803385pt;}
.x11{left:223.628988pt;}
.x23{left:231.492950pt;}
.x39{left:264.000000pt;}
.x26{left:338.152517pt;}
.x3a{left:342.000000pt;}
.x33{left:387.261648pt;}
.x1{left:418.583252pt;}
.x8{left:429.806152pt;}
.x28{left:446.856689pt;}
.x14{left:453.258057pt;}
.x4{left:456.889486pt;}
.xf{left:476.983398pt;}
.x9{left:494.143982pt;}
.x10{left:531.635417pt;}
.x3c{left:541.281494pt;}
.x3b{left:544.403483pt;}
.x13{left:574.499919pt;}
.x1f{left:579.605306pt;}
.x2b{left:597.572184pt;}
.x2c{left:604.446615pt;}
.x3{left:606.606445pt;}
.x25{left:611.023478pt;}
.x17{left:627.025838pt;}
.x29{left:647.977295pt;}
.x16{left:654.378662pt;}
.x15{left:711.335042pt;}
.x37{left:723.903330pt;}
.x1b{left:729.728271pt;}
.x21{left:732.369141pt;}
.x24{left:737.486827pt;}
.x2{left:776.083252pt;}
.x32{left:789.409627pt;}
.xa{left:848.816732pt;}
.x5{left:859.737345pt;}
.x19{left:865.702393pt;}
.x6{left:875.964844pt;}
.xe{left:880.678589pt;}
.xb{left:899.465637pt;}
.x2e{left:943.326375pt;}
.x36{left:976.648824pt;}
.x20{left:1011.887777pt;}
.x1d{left:1013.291707pt;}
.x1c{left:1016.353210pt;}
.x27{left:1145.477885pt;}
.x2d{left:1159.034322pt;}
.x12{left:1216.537415pt;}
.xc{left:1309.086528pt;}
.x7{left:1317.783875pt;}
.x22{left:1323.795283pt;}
.xd{left:1337.693848pt;}
}
